ArchiveService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="File">
		<xs:complexType>
				<xs:sequence>
					<xs:element name="document" type="xs:base64Binary"></xs:element>
					<xs:element name="fileName" type="xs:string"></xs:element>
				</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
